# Virtual environments
venv/
venv312/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.uploads/
# SQLite / DB files (if they are generated, not hand-written)
*.sqlite3
*.db
*.bin

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db
